# 1) Define a function named to_number(str) that takes a string as a parameter, converts it to an int value, and returns that int value.

In [11]:
def to_number(str):
    str = int(str)
    return str

In [12]:
str = '17'
result = to_number(str)
print(result)
print(type(result))

17
<type 'int'>

# 2) Define a function named add_two(n1, n2) that takes two ints as parameters, sums them, and then returns that int sum value.

In [13]:
def add_two(n1, n2):
    the_sum = n1 + n2
    return the_sum

In [14]:
n1 = 7
n2 = 13
add_two(n1, n2)

20

# 3) Define a function named cube(n) that takes numeric value as a parameter, cubes that value, and then returns that resulting numeric value.

In [18]:
import numpy as np

def cube(n):
    cubed = n**3
    return cubed

In [19]:
n = 3
cube(n)

27

# 4) Use the above functions in one statement to take two string literals, convert them to ints, add them together, cube the result, and print the cubed value.

In [24]:
cube(add_two(to_number('2'), to_number('4')))

216